# Camera settings
CAMERA_HOST=172.18.212.18
CAMERA_ONVIF_PORT=80
CAMERA_USERNAME=admin
CAMERA_PASSWORD=Supervisor
CAMERA_RTSP_URL=rtsp://172.18.212.18:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1
